/* Colors, cardroom theme */
.bighouse.cardroom {
    background-color: black;
    color: white;
}

.bighouse.cardroom .navbar {
    background-color: black;
}

.bighouse.cardroom .locbar {
    color: white;
    background-color: black;
}

.bighouse.cardroom .detailbar .statusdiv,
.bighouse.cardroom .locbar .link,
.bighouse.cardroom .locbar .trade,
.bighouse.cardroom .locbar .event {
    border-color: #ccc;
    background-color: #111;
}

.bighouse.cardroom .locbar .link .button,
.bighouse.cardroom .locbar .trade .button,
.bighouse.cardroom .locbar .event .button {
    border-color: green;
    background-color: #333;
    color: green;
}

.bighouse.cardroom .locbar .link .lock,
.bighouse.cardroom .locbar .event .lock,
.bighouse.cardroom .locbar .link .timer,
.bighouse.cardroom .locbar .event .timer {
    color: #ddd;
}

.bighouse.cardroom .locbar .link .missed,
.bighouse.cardroom .locbar .event .missed {
    color: red;
}

.bighouse.cardroom .cardbar .cardtable {
    background-color: darkgreen;  /* old browsers */
    background: linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    background: -webkit-linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    background: -moz-linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    box-shadow: 2px 2px 1px 1px #003200;
}

.bighouse.cardroom .slidebar .slidetab {
    border-bottom-color: #030;
}

.bighouse.cardroom .choicebar span.disabled {
    color: #787;
}

.bighouse.cardroom .choicebar a,
.bighouse.cardroom .detailbar,
.bighouse.cardroom .statusbar,
.bighouse.cardroom .backbar,
.bighouse.cardroom .menubar {
    color: #ccc;
}

.bighouse.cardroom .veil {
    background-color: black;
}

.bighouse.history.cardroom .veil .cyloneye {
    background-color: #223;
    background-image: -webkit-linear-gradient(    left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image:    -moz-linear-gradient(    left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image:      -o-linear-gradient(    left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image:         linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
}

.bighouse.cardroom .statusbar .leftmood,
.bighouse.cardroom .statusbar .rightmood {
    border-color: #222;
    background-color: #333;
}

.bighouse.cardroom .statusbar a,
.bighouse.cardroom .menubar a,
.bighouse.cardroom .backbar a,
.bighouse.cardroom .avatar-exit a,
.bighouse.cardroom .upload-exit a,
.bighouse.cardroom .menubar label {
    color: #888;
    border-color: #888;
}

.bighouse.cardroom .moodbar .moodbutton {
    border-color: #222;
}

.bighouse.cardroom .moodbar .selected {
    background-color: #222;
}

.bighouse.cardroom .moodbar .unselected {
    background-color: black;
}

.bighouse.cardroom .timebar .timer {
    background-color: #444;
}

.bighouse.cardroom .titlebar,
.bighouse.cardroom .moodslugbar {
    color: #ccc;
}

.bighouse.cardroom .inputbar {
    color: #aaa;
}

.bighouse.cardroom .inputbar input[type=text],
.bighouse.cardroom .inputbar input[type=password] {
    border-color: #444;
    background-color: #333;
    color: white;
}

.bighouse.cardroom .menubar li {
    color: #888;
}

.bighouse.cardroom .menubar .card {
    color: #888;
    background-color: #444;
}

.bighouse .menubar .themegroup label.cardroom {
    color: darkgreen;
}

.bighouse.cardroom .detailbar .statusline {
    background: #111;
}

.bighouse.cardroom .cardbar .cardtable input:checked + label {
    background: rgba(0,0,0,.1);
}
