/* Colors */
body {
    background-color: black;
    color: white;
}

.bighouse .cardbar .cardtable {
    background-color: darkgreen;  /* old browsers */
    background-color: -webkit-linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    box-shadow: 2px 2px 1px 1px #003200;
}

.bighouse .cardbar .cardtable li {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    color: black;
    border-color: rgba(1,1,1,.1);
}

.bighouse .choicebar a,
.bighouse .detailbar,
.bighouse .statusbar,
.bighouse .menubar {
    color: #ccc;
}

.bighouse .statusbar .leftmood,
.bighouse .statusbar .rightmood {
    background-color: #333;
}

.bighouse .statusbar a,
.bighouse .menubar a,
.bighouse .avatar-exit a,
.bighouse .upload-exit a {
    color: #888;
    border-color: #888;
}

.bighouse .moodbar .selected {
    background-color: #222;
}

.bighouse .moodbar .unselected {
    background-color: black;
}

.bighouse .timebar .timer {
    background-color: #444;
}

.bighouse .cardbar .cardtable .waitcard {
    background-color: antiquewhite;
}

.bighouse .cardbar .cardtable .outcome {
    background-color: lightcyan;
}

.bighouse .cardbar .cardtable .gameover {
    background-color: antiquewhite;
    color: brown;
}

.bighouse .cardbar .cardtable .verb-choose {
    background-color: #fffcff;
    color: #204;
}

.bighouse .titlebar,
.bighouse .menubar,
.bighouse .moodslugbar {
    color: #ccc;
}

.bighouse .inputbar {
    color: #aaa;
}

.bighouse .inputbar input[type=text],
.bighouse .inputbar input[type=password] {
    border-color: #444;
    background-color: #333;
    color: white;
}

.bighouse .menubar li {
    color: #888;
}

.bighouse .menubar .card {
    color: #888;
    background-color: #444;
}

.bighouse .gametable thead {
    color: black;
}

.bighouse .gametable tbody {
    color: #aaa;
}

.bighouse .gametable thead tr:nth-child(odd) {
    background-color: #666;
}

.bighouse .gametable tbody tr:nth-child(even) {
    background-color: #444;
}

.bighouse .gametable tbody td.ready {
    color: green;
}

.bighouse .gametable tbody td.over {
    color: red;
}

.bighouse .gametable tbody td.waiting {
    color: orange;
}

.bighouse .gametable tbody td:nth-child(5) span {
    color: #ccc;
    background-color: black;
    border-color: #888;
}

input:checked + label li {
    background-color: #444;
    opacity: 1;
}

label {
    background: black;
    color: white;
}

input:checked + label {
    background: #444;
}