/* Colors, cardroom theme */
.bighouse.cardroom {
    background-color: black;
    color: white;
}

.bighouse.cardroom .cardbar .cardtable {
    background-color: darkgreen;  /* old browsers */
    background: linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    background: -webkit-linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    background: -moz-linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    box-shadow: 2px 2px 1px 1px #003200;
}

.bighouse.cardroom .slidebar .slidetab {
    border-bottom-color: #030;
}

.bighouse.cardroom .cardbar .cardtable li {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    color: black;
    border-color: rgba(1,1,1,.1);
}

.bighouse.cardroom .choicebar a,
.bighouse.cardroom .detailbar,
.bighouse.cardroom .statusbar,
.bighouse.cardroom .menubar {
    color: #ccc;
}

.bighouse.cardroom .statusbar .leftmood,
.bighouse.cardroom .statusbar .rightmood {
    background-color: #333;
}

.bighouse.cardroom .statusbar a,
.bighouse.cardroom .menubar a,
.bighouse.cardroom .avatar-exit a,
.bighouse.cardroom .upload-exit a,
.bighouse.cardroom .menubar label {
    color: #888;
    border-color: #888;
}

.bighouse.cardroom .moodbar .selected {
    background-color: #222;
}

.bighouse.cardroom .moodbar .unselected {
    background-color: black;
}

.bighouse.cardroom .timebar .timer {
    background-color: #444;
}

.bighouse .cardbar .cardtable .cardmenu,
.bighouse .cardbar .cardtable .cardmenu label {
    border-color: #aaa;
}

.bighouse .cardbar .cardtable input:checked + label {
    background: #eee;
}

.bighouse .cardbar .cardtable .warnselect {
    color: darkred;
}

.bighouse.cardroom .cardbar .cardtable .waitcard {
    background-color: antiquewhite;
}

.bighouse.cardroom .cardbar .cardtable .outcome {
    background-color: lightcyan;
}

.bighouse.cardroom .cardbar .cardtable .gameover {
    background-color: antiquewhite;
    color: brown;
}

.bighouse.cardroom .cardbar .cardtable .verb-choose {
    background-color: #fffcff;
    color: #204;
}

.bighouse.cardroom .titlebar,
.bighouse.cardroom .menubar,
.bighouse.cardroom .moodslugbar {
    color: #ccc;
}

.bighouse.cardroom .inputbar {
    color: #aaa;
}

.bighouse.cardroom .inputbar input[type=text],
.bighouse.cardroom .inputbar input[type=password] {
    border-color: #444;
    background-color: #333;
    color: white;
}

.bighouse.cardroom .menubar li {
    color: #888;
}

.bighouse.cardroom .menubar .card {
    color: #888;
    background-color: #444;
}

.bighouse.cardroom .gametable thead {
    color: black;
}

.bighouse.cardroom .gametable tbody {
    color: #aaa;
}

.bighouse.cardroom .gametable thead tr:nth-child(odd) {
    background-color: #666;
}

.bighouse.cardroom .gametable tbody tr:nth-child(even) {
    background-color: #444;
}

.bighouse.cardroom .gametable tbody td.ready {
    color: green;
}

.bighouse.cardroom .gametable tbody td.over {
    color: red;
}

.bighouse.cardroom .gametable tbody td.waiting {
    color: orange;
}

.bighouse.cardroom .gametable tbody td:nth-child(5) span {
    color: #ccc;
    background-color: black;
    border-color: #888;
}

.bighouse .menubar .themegroup label.cardroom {
    color: darkgreen;
}

