/* Colors, plain theme */
.bighouse.plain {
    background-color: #f8f8f8;
    color: black;
}

.bighouse.plain .navbar {
    background-color: black;
}

.bighouse.plain .gramlistbar {
    color: black;
    background-color: white;
}

.bighouse.plain .gramlistbar .grammar,
.bighouse.plain .grammarbar .rule,
.bighouse.plain .detailbar .statusdiv {
    border-color: black;
    background-color: #f8f8f8;
}

.bighouse.plain .grammarbar .rule .rhs {
    background-color: #ccc;
}

.bighouse.plain .lhslink {
    color: blue;
}

.bighouse.plain .gramlistbar .grammar .button,
.bighouse.plain .gramlistbar .newgrammar .button {
    border-color: black;
    background-color: #e8e8e8;
    color: #222;
}

.bighouse.plain .detailbar,
.bighouse.plain .grammarbar,
.bighouse.plain .backbar,
.bighouse.plain .menubar {
    color: black;
}

.bighouse.plain .statusbar a,
.bighouse.plain .menubar a,
.bighouse.plain .backbar a,
.bighouse.plain .menubar label {
    color: #888;
    border-color: #888;
}

.bighouse.plain .titlebar {
    color: black;
}

.bighouse.plain .inputbar {
    color: black;
}

.bighouse.plain .inputbar input[type=text],
.bighouse.plain .inputbar input[type=password] {
    border-color: #ccc;
    background-color: #ddd;
    color: black;
}

.bighouse.plain .menubar li {
    color: black;
}

.bighouse.plain .menubar .card {
    color: black;
    background-color: #ccc;
}

.bighouse .menubar .themegroup label.plain {
    color: white;
}

.bighouse.plain .detailbar .icon img {
    border-style: solid;
    border-width: 1px;
    border-color: #444;
}

.bighouse.plain .detailbar .statusline {
    background: #eee;
}
