/* Orientation-independent (colors, universal layout, etc) */
html, body {
    height: 100%;
}

html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    overflow: hidden;

    background-color: black;
    color: white;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.pushed {
    display: none  !important;
    height: 0  !important;
    width: 0  !important;
}

.bighouse .cardbar .cardtable {
    background: darkgreen;  /* old browsers */
    background: -webkit-linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    box-shadow: 2px 2px 1px 1px #003200;
    z-index: 1;
}

.bighouse .cardbar .cardtable li {
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    text-align: center;
    color: black;
    font-size: 12px;
    border: 10px solid rgba(1,1,1,.1);
    box-sizing: border-box;
    cursor: pointer;
    padding: 4px;
}

.bighouse .cardbar .cardtable li:nth-child(4) {
    top: 2px; transform: translate(4px, 3px) rotate(-2deg);
}

.bighouse .cardbar .cardtable li:nth-child(3) {
    top: 3px; transform: translate(2px, 2px) rotate(0.4deg);
}

.bighouse .cardbar .cardtable li:nth-child(2) {
    top: 4px; transform: translate(-4px, -2px) rotate(-1deg);
}

.bighouse .choicebar .choice1 .hint {
    padding-left: 4px;
}

.bighouse .choicebar .choice2 .hint {
    padding-right: 4px;
}

.bighouse .choicebar a {
    text-decoration: none;
    color: #ccc;
}

.bighouse .detailbar,
.bighouse .statusbar,
.bighouse .menubar {
    color: #ccc;
}

.bighouse .statusbar span {
    cursor: default;
}

.bighouse .statusbar .leftmood img,
.bighouse .statusbar .leftmood svg,
.bighouse .statusbar .rightstatus span,
.bighouse .statusbar .rightmood img,
.bighouse .statusbar .rightmood svg {
    cursor: pointer;
}

.bighouse .statusbar .rightstatus span {
    word-wrap: break-word;  /* moz */
    overflow-wrap: break-word;  /* webkit */
    width: 100%;
    max-height: 100%;
    text-align: right;
}

.bighouse .statusbar a,
.bighouse .menubar a,
.bighouse .avatar-exit a,
.bighouse .upload-exit a {
    color: #888;
    text-decoration: none;
    border: 1px solid #888;
    cursor: pointer;
}

.bighouse .menubar .avatar-grid {
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.bighouse img.mood {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.bighouse svg.mood {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.bighouse .timebar {
    width: 100%;
    height: 9px;
    margin: 1px 0 1px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.bighouse .timebar .timer {
    background-color: #444;
}

.bighouse .timebar .cardcount {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    font-style: italic;
}

.bighouse .timebar .cardcount span {
    opacity: .5;
}

.bighouse .cardbar .cardtable .waitcard {
    font-style: italic;
    background-color: antiquewhite;
}

.bighouse .cardbar .cardtable .jiggle:not(.dragging) {
    animation: jiggle 5s ease 0s infinite;
    -moz-animation: jiggle 5s ease 0s infinite;
    -webkit-animation: jiggle 5s ease 0s infinite;
}

@-webkit-keyframes jiggle {
    0% { transform: rotate(0deg); }
    95% { transform: rotate(0deg); }
    97% { transform: rotate(1deg); }
    99% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}

@-moz-keyframes jiggle {
    0% { transform: rotate(0deg); }
    95% { transform: rotate(0deg); }
    97% { transform: rotate(1deg); }
    99% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes jiggle {
    0% { transform: rotate(0deg); }
    95% { transform: rotate(0deg); }
    97% { transform: rotate(1deg); }
    99% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}

.bighouse .cardbar .cardtable .waitcard span {
    animation: fadein 1s, pulsate 3s ease 500ms infinite;
    -moz-animation: fadein 1s, pulsate 3s ease 500ms infinite;
    -webkit-animation: fadein 1s, pulsate 3s ease 500ms infinite;
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes pulsate {
    0% { opacity: 1.0; }
    33% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@-moz-keyframes pulsate {
    0% { opacity: 1.0; }
    33% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@-moz-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1.0; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1.0; }
}

@keyframes pulsate {
    0% { opacity: 1.0; }
    33% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

.bighouse .cardbar .cardtable .outcome {
    font-style: italic;
    background-color: lightcyan;
}

.bighouse .cardbar .cardtable .gameover {
    font-style: italic;
    background-color: antiquewhite;
    color: brown;
}

.bighouse .cardbar .cardtable .verb-choose {
    background-color: #fffcff;
    color: #204;
}

.bighouse .inputbar {
    line-height: 32px;
}

.bighouse .titlebar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bighouse .titlebar,
.bighouse .menubar,
.bighouse .moodslugbar {
    color: #ccc;
}

.bighouse .inputbar {
    color: #aaa;
}

.bighouse .inputbar input[type=text],
.bighouse .inputbar input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;

    margin: 0;
    height: 40px;
    line-height: 40px;
    font-size: 18px;

    border: 1px solid #444;

    background-color: #333;
    color: white;

    width: 100%;
}

.bighouse .menubar input {
    width: 100%;
}

.bighouse .menubar li {
    list-style: none;
    color: #888;
}

.bighouse .menubar li {
    padding: 8px;
}

.bighouse .menubar .card {
    padding: 16px;
}

.bighouse .menubar li,
.bighouse .menubar .card {
    margin: 4vh;
    border: 1px solid #888;
    box-sizing: border-box;
    text-align: center;
}

.bighouse .menubar li.noborder {
    border-style: none;
}

.bighouse .menubar .card {
    cursor: default;
    width: 80vw;
    color: #888;
    background: #444;
}

.bighouse .menubar li,
.bighouse .menubar .card input {
    cursor: pointer;
}

.bighouse .menubar .rubric {
    text-align: center;
}

.bighouse .moodslugbar div,
.bighouse .moodbar div img,
.bighouse .moodbar div svg,
.bighouse .mooduploadbar div img,
.bighouse .mooduploadbar div svg,
.bighouse .avatar-exit span,
.bighouse .upload-exit span {
    cursor: pointer;
}

.bighouse .mooduploadbar .unclickable,
.bighouse .moodslugbar .unclickable,
.bighouse .avatar-exit .unclickable,
.bighouse .upload-exit .unclickable,
a.unclickable {
    opacity: .5;
}


.bighouse table.gametable {
    width: 100%;
    font-size: 12px;
    cursor: default;
}

.bighouse .gametable thead {
    color: black;
}

.bighouse .gametable tbody {
    color: #aaa;
}

.bighouse .gametable thead,
.bighouse .gametable tbody,
.bighouse .gametable tr {
    display: block;
}

.bighouse .gametable thead tr:nth-child(odd) {
    background-color: #666;
}

.bighouse .gametable tbody tr:nth-child(even) {
    background-color: #444;
}

.bighouse .gametable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.bighouse .gametable tbody td,
.bighouse .gametable thead th {
    overflow: hidden;
    padding: 0;
}

.bighouse .gametable tbody td.ready {
    color: green;
}

.bighouse .gametable tbody td.over {
    color: red;
}

.bighouse .gametable tbody td.waiting {
    color: orange;
}

.bighouse .gametable tbody td:nth-child(1),
.bighouse .gametable thead th:nth-child(1) {
    width: 25vw;
    text-align: left;
}

.bighouse .gametable tbody td:nth-child(2),
.bighouse .gametable thead th:nth-child(2) {
    width: 19vw;
    text-align: right;
}

.bighouse .gametable tbody td:nth-child(3),
.bighouse .gametable thead th:nth-child(3) {
    width: 19vw;
    text-align: right;
}

.bighouse .gametable tbody td:nth-child(4),
.bighouse .gametable thead th:nth-child(4) {
    width: 16vw;
    text-align: center;
}

.bighouse .gametable tbody td:nth-child(5),
.bighouse .gametable thead th:nth-child(5) {
    width: 11vw;
    text-align: center;
}

.bighouse .gametable tbody td:nth-child(5) span {
    color: #ccc;
    background-color: black;
    border: 1px solid #888;
    padding: 1px;
    cursor: pointer;
}

.bighouse .detailbar {
    overflow-y: auto;
}

/* Orientation-specific (i.e. layout) */

/* Portrait view */
@media all and (orientation:portrait) {
    /* Game view */
    .bighouse {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
    }

    .bighouse .statusbar {
	width: 100vw;
	height: 18vw;
    }

    .bighouse .statusbar .leftmood {
	height: 18vw;
	width: 18vw;
	position: absolute;
	left: 0vw;
	top: 0vw;
    }

    .bighouse .statusbar .rightstatus {
	width: 22vw;
	height: 18vw;
	position: absolute;
	right: 0vw;
	top: 0vw;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-right: 18vw;
	padding-right: 4px;
    }

    .bighouse .statusbar .statuslink {
	width: 38vw;
	height: 18vw;
	position: absolute;
	left: 42vw;
	top: 0vw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
    }

    .bighouse .statusbar .rightmood {
	height: 18vw;
	width: 18vw;
	position: absolute;
	left: 82vw;
	top: 0vw;
    }

    .bighouse .cardbar {
	width: 100vw;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .bighouse .cardbar .cardtable {
	width: 98vw;
	flex-grow: 1;
	margin-top: 2vw;
	margin-bottom: 2vw;
	
	position: relative;
    }

    .bighouse .cardbar .cardtable ul {
	padding: 0;
    }
    
    .bighouse .cardbar .cardtable li {
	width: 80%;
	height: 85%;
	margin: 6% 10% 6% 10%;
	
	font-size: 12px;
	line-height: 16px;
	
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
    }

    .bighouse .cardbar .cardtable li div,
    .bighouse .cardbar .cardtable li span {
	flex-grow: 1;
	display: flex;
	align-items: center;
    }

    .bighouse .cardbar .cardtable img {
	height: 16vw;
    }

    .bighouse .choicebar {
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
    }

    .bighouse .choicebar .choice1 {
	width: 50%;
	float: left;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 4px;
    }

    .bighouse .choicebar .choice2 {
	width: 50%;
	float: right;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 4px;
    }

    .bighouse .statusbar a,
    .bighouse .menubar a,
    .bighouse .avatar-exit a,
    .bighouse .upload-exit a {
	padding: 4px 8px 4px 8px;
    }

    .bighouse .avatar-exit a {
	float: left;
	margin: 4px 8px 4px 8px;
	width: 20vw;
	text-align: center;
    }

    .bighouse .menubar .avatar {
	width: 19vw;
	height: 19vw;
	display: inline-block;
    }

    .bighouse .moodbar {
	width: 22vw;
	height: 18vw;
	position: absolute;
	left: 18vw;
	top: 0vw;
    }

    .bighouse .moodbar .mood1 {
	height: 8vw;
	width: 8vw;
	position: absolute;
	left: 2vw;
	top: 0vw;
    }

    .bighouse .moodbar .mood2 {
	width: 8vw;
	height: 8vw;
	position: absolute;
	left: 12vw;
	top: 0vw;
    }

    .bighouse .moodbar .mood3 {
	height: 8vw;
	width: 8vw;
	position: absolute;
	left: 2vw;
	top: 10vw;
    }

    .bighouse .moodbar .mood4 {
	height: 8vw;
	width: 8vw;
	position: absolute;
	left: 12vw;
	top: 10vw;
    }

    .bighouse .mooduploadbar {
	width: 100vw;
	height: 21vw;
    }

    .bighouse .mooduploadbar .mood1 {
	height: 21vw;
	width: 21vw;
	position: absolute;
	left: 2vw;
	bottom: 0vw;
    }

    .bighouse .mooduploadbar .mood2 {
	width: 21vw;
	height: 21vw;
	position: absolute;
	left: 27vw;
	bottom: 0vw;
    }

    .bighouse .mooduploadbar .mood3 {
	height: 21vw;
	width: 21vw;
	position: absolute;
	left: 52vw;
	bottom: 0vw;
    }

    .bighouse .mooduploadbar .mood4 {
	height: 21vw;
	width: 21vw;
	position: absolute;
	left: 77vw;
	bottom: 0vw;
    }

    /* Menu views */
    .bighouse .inputbar {
	width: 100vw;
	height: 33vh;

	display: flex;
	justify-content: center;
    }

    .bighouse .inputbar form {
	width: 60vw;
    }

    .bighouse .titlebar {
	width: 100vw;
	height: 6vh;
	text-align: center;
    }

    .bighouse .menucontainer {
	display: flex;
	flex-direction: column;
    }

    .bighouse .menubar {
	width: 100vw;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .bighouse .menubar li,
    .bighouse .menubar .card {
	font-size: 18px;
    }

    .bighouse .menubar .rubric {
	width: 80vw;
    }

    .bighouse .moodslugbar {
	width: 100vw;
	height: 6vh;
	position: relative;
    }

    .bighouse .moodslugbar .moodslug1 {
	width: 21vw;
	position: absolute;
	left: 2vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug2 {
	width: 21vw;
	position: absolute;
	left: 27vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug3 {
	width: 21vw;
	position: absolute;
	left: 52vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug4 {
	width: 21vw;
	position: absolute;
	left: 77vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .upload-exit {
	width: 100vw;
	height: 20vw;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
    }

    .bighouse .upload-exit span {
	padding-left: 5vw;
	padding-right: 5vw;
    }

    .bighouse .gametable thead th,
    .bighouse .gametable tbody td {
	height: 2em;
    }

    .bighouse .gametable tbody {
	overflow-y: auto;
	height: 73vh;
    }

    .bighouse .detailbar {
	height: 85vh;
    }
}

/* Landscape view */
@media all and (orientation:landscape) {
    /* Game view */
    .bighouse {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
    }

    .bighouse .statusbar {
	width: 100vw;
	height: 18vh;
    }

    .bighouse .statusbar .leftmood {
	height: 18vh;
	width: 18vh;
	position: absolute;
	left: 0vh;
	top: 0vh;
    }

    .bighouse .statusbar .rightstatus {
	width: 25vw;
	height: 18vh;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-right: 18vh;
	padding-right: 4px;
    }

    .bighouse .statusbar .statuslink {
	width: 20vw;
	position: absolute;
	left: 40vw;
	top: 0vh;
	display: flex;
	align-items: center;
	justify-content: center;
    }
    
    .bighouse .statusbar .rightmood {
	height: 18vh;
	width: 18vh;
	position: absolute;
	right: 0vw;
	top: 0vh;
    }

    .bighouse .cardbar {
	width: 100vw;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .bighouse .cardbar .cardtable {
	width: 90vw;
	flex-grow: 1;
	margin: 1%;
	
	position: relative;
    }

    .bighouse .cardbar .cardtable ul {
	padding: 0;
    }
    
    .bighouse .cardbar .cardtable li {
	width: 70%;
	height: 92%;
	margin: 1% 15% 1% 15%;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
    }

    .bighouse .cardbar .cardtable li div,
    .bighouse .cardbar .cardtable li span {
	flex-grow: 1;
	display: flex;
	align-items: center;
    }

    .bighouse .cardbar .cardtable img {
	height: 16vh;
    }

    .bighouse .choicebar {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
    }

    .bighouse .choicebar .choice1 {
	width: 12%;
	float: left;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	text-align: left;
	position: absolute;
	bottom: 0;
	left: 4px;
    }

    .bighouse .choicebar .choice2 {
	width: 12%;
	float: right;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 4px;
    }

    .bighouse .statusbar a,
    .bighouse .menubar a,
    .bighouse .avatar-exit a,
    .bighouse .upload-exit a {
	padding: 4px 8px 4px 8px;
    }

    .bighouse .avatar-exit a {
	float: left;
	margin: 4px 8px 4px 8px;
	width: 20vh;
	text-align: center;
    }

    .bighouse .menubar .avatar {
	width: 19vh;
	height: 19vh;
	display: inline-block;
    }

    .bighouse .moodbar {
	width: 42vh;
	height: 8vh;
	position: absolute;
	left: 18vh;
	top: 10vh;
    }

    .bighouse .moodbar .mood1 {
	width: 8vh;
	height: 8vh;
	position: absolute;
	left: 2vh;
	top: 0vh;
	display: flex;
	justify-content: center;
    }

    .bighouse .moodbar .mood2 {
	width: 8vh;
	height: 8vh;
	position: absolute;
	left: 12vh;
	top: 0vh;
	display: flex;
	justify-content: center;
    }

    .bighouse .moodbar .mood3 {
	width: 8vh;
	height: 8vh;
	position: absolute;
	left: 22vh;
	top: 0vh;
	display: flex;
	justify-content: center;
    }

    .bighouse .moodbar .mood4 {
	width: 8vh;
	height: 8vh;
	position: absolute;
	left: 32vh;
	top: 0vh;
	display: flex;
	justify-content: center;
    }

    .bighouse .moodbar img.mood,
    .bighouse .moodbar svg.mood {
	width: 8vh;
	height: 8vh;
    }

    .bighouse .mooduploadbar {
	width: 100vw;
	height: 21vh;
    }

    .bighouse .mooduploadbar .mood1 {
	width: 25vw;
	height: 21vh;
	position: absolute;
	left: 0vw;
	bottom: 0vw;
	display: flex;
	justify-content: center;
    }

    .bighouse .mooduploadbar .mood2 {
	width: 25vw;
	height: 21vh;
	position: absolute;
	left: 25vw;
	bottom: 0vw;
	display: flex;
	justify-content: center;
    }

    .bighouse .mooduploadbar .mood3 {
	width: 25vw;
	height: 21vh;
	position: absolute;
	left: 50vw;
	bottom: 0vw;
	display: flex;
	justify-content: center;
    }

    .bighouse .mooduploadbar .mood4 {
	width: 25vw;
	height: 21vh;
	position: absolute;
	left: 75vw;
	bottom: 0vw;
	display: flex;
	justify-content: center;
    }

    .bighouse .mooduploadbar img.mood,
    .bighouse .mooduploadbar svg.mood {
	width: 21vh;
	height: 21vh;
    }

    /* Menu views */
    .bighouse .inputbar {
	width: 100vw;
	height: 33vh;

	display: flex;
	justify-content: center;
    }

    .bighouse .inputbar form {
	width: 60vw;
    }

    .bighouse .titlebar {
	width: 100vw;
	height: 12vh;
	text-align: center;
    }

    .bighouse .menucontainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
    }

    .bighouse .menubar {
	width: 100vw;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .bighouse .menubar li,
    .bighouse .menubar .card {
	font-size: 16px;
    }

    .bighouse .menubar .rubric {
	width: 80vw;
    }

    .bighouse .moodslugbar {
	width: 100vw;
	height: 6vh;
	position: relative;
    }

    .bighouse .moodslugbar .moodslug1 {
	width: 25vw;
	position: absolute;
	left: 0vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug2 {
	width: 25vw;
	position: absolute;
	left: 25vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug3 {
	width: 25vw;
	position: absolute;
	left: 50vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug4 {
	width: 25vw;
	position: absolute;
	left: 75vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .confirmtitle {
	position: absolute;
	right: 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding-right: 4px;
    }

    .bighouse .upload-exit {
	width: 20vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
    }

    .bighouse .upload-exit span {
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;

    }

    .bighouse .gametable thead th {
	text-align: left;
	height: 2em;
    }

    .bighouse .gametable tbody td {
	height: 2em;
    }

    .bighouse .detailbar {
	height: 65vh;
    }

    .bighouse .gametable tbody {
	overflow-y: auto;
	height: 70vh;
    }

    .bighouse .menubar ul.horizontal-list {
	list-style: none;
	margin: 4vh;
    }

    .bighouse .menubar .horizontal-list li {
	display: inline;
    }

}

/* Specific aspect ratios... */
@media screen and (orientation:landscape) and (min-aspect-ratio: 7/5) {
    .bighouse .statusbar .statuslink {
	height: 18vh;
    }
}

@media screen and (orientation:landscape) and (max-aspect-ratio: 7/5) {
    .bighouse .statusbar .statuslink {
	height: 12vh;
    }
}
