<body>
  <div id="bighouse"></div>
</body>

<script type="text/javascript">
  var bh
  $(function() {
    bh = new BigHouse(<%- (loggedIn ? '{playerID:'+playerID+',playerName:"'+playerName+'",playerDisplayName:"'+playerDisplayName+'",newSignUp:'+newSignUp+'}' : '') -%>)
  
  })
</script>
