<body>
  <div id="grambot"></div>
</body>

<script type="text/javascript">
  var gb
  $(function() {
    gb = new GramBot(<%- (loggedIn ? '{playerID:'+playerID+',playerName:"'+playerName+'",playerDisplayName:"'+playerDisplayName+'",newSignUp:'+newSignUp+'}' : '') -%>)
  
  })
</script>
