<body>
  <div id="grambot"></div>
</body>

<script type="text/javascript">
  var gb
  $(function() {
    gb = new GramBot(<%- (loggedIn ? '{player:'+JSON.stringify(player)+'}' : '') -%>)
  
  })
</script>
