<!DOCTYPE html>
<html>
  <head>

    <title>
      wikimess
    </title>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.1.0.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/js/dependencies/marked.js"></script>
    <script src="/js/ext/howler.js"></script>
    <script src="/js/wikimess/wikimess.js"></script>
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/wikimess/aspectratios.css">
    <link rel="stylesheet" href="/styles/wikimess/landscape.css">
    <link rel="stylesheet" href="/styles/wikimess/meter.css">
    <link rel="stylesheet" href="/styles/wikimess/portrait.css">
    <link rel="stylesheet" href="/styles/wikimess/status.css">
    <link rel="stylesheet" href="/styles/wikimess/themes/l33t.css">
    <link rel="stylesheet" href="/styles/wikimess/themes/plain.css">
    <link rel="stylesheet" href="/styles/wikimess/themes/themeselect.css">
    <link rel="stylesheet" href="/styles/wikimess/wikimess.css">
    <!--STYLES END-->

    <!-- tell mobile browser to stay out of our business -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
  <!-- inner view -->
  <%- body %>

</html>
