<!DOCTYPE html>
<html>
  <head>

    <title>
      bighouse
    </title>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/hammer.min.js"></script>
    <script src="/js/dependencies/jquery-3.1.0.js"></script>
    <script src="/js/ext/canvas-to-blob.min.js"></script>
    <script src="/js/ext/facesjs/faces.js"></script>
    <script src="/js/ext/howler.js"></script>
    <script src="/js/ext/jquery.cropbox.js"></script>
    <script src="/js/ext/jquery.xcolor.min.js"></script>
    <script src="/js/ext/load-image.all.min.js"></script>
    <script src="/js/ext/swing.js"></script>
    <script src="/js/bighouse/bighouse.js"></script>
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bighouse/aspectratios.css">
    <link rel="stylesheet" href="/styles/bighouse/bighouse.css">
    <link rel="stylesheet" href="/styles/bighouse/landscape.css">
    <link rel="stylesheet" href="/styles/bighouse/large.css">
    <link rel="stylesheet" href="/styles/bighouse/meter.css">
    <link rel="stylesheet" href="/styles/bighouse/portrait.css">
    <link rel="stylesheet" href="/styles/bighouse/status.css">
    <link rel="stylesheet" href="/styles/bighouse/themes/cardroom.css">
    <link rel="stylesheet" href="/styles/bighouse/themes/plain.css">
    <link rel="stylesheet" href="/styles/bighouse/themes/themeselect.css">
    <link rel="stylesheet" href="/styles/ext/jquery.cropbox.css">
    <link rel="stylesheet" href="/styles/ext/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- tell mobile browser to stay out of our business -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  </head>
  <!-- inner view -->
  <%- body %>

</html>
