<!DOCTYPE html>
<html>
  <head>

    <title>
      wikimess
    </title>

    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->

    <!-- tell mobile browser to stay out of our business -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
  <!-- inner view -->
  <%- body %>

</html>
