<!DOCTYPE html>
<html>
  <head>

    <title>
      grambot
    </title>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.1.0.js"></script>
    <script src="/js/ext/howler.js"></script>
    <script src="/js/grambot/grambot.js"></script>
    <script src="/js/grambot/label.js"></script>
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/grambot/aspectratios.css">
    <link rel="stylesheet" href="/styles/grambot/grambot.css">
    <link rel="stylesheet" href="/styles/grambot/landscape.css">
    <link rel="stylesheet" href="/styles/grambot/large.css">
    <link rel="stylesheet" href="/styles/grambot/meter.css">
    <link rel="stylesheet" href="/styles/grambot/portrait.css">
    <link rel="stylesheet" href="/styles/grambot/status.css">
    <link rel="stylesheet" href="/styles/grambot/themes/cardroom.css">
    <link rel="stylesheet" href="/styles/grambot/themes/plain.css">
    <link rel="stylesheet" href="/styles/grambot/themes/themeselect.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- tell mobile browser to stay out of our business -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  </head>
  <!-- inner view -->
  <%- body %>

</html>
