<!DOCTYPE html>
<html>
  <head>

    <title>
      bighouse
    </title>

    <!-- 3rd-party libraries -->
    <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
    <script type="text/javascript" src="/js/ext/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="/js/ext/swing.js"></script>
    <script type="text/javascript" src="/js/ext/howler.js"></script>
    <script type="text/javascript" src="/js/ext/hammer.min.js"></script>
    <script type="text/javascript" src="/js/ext/load-image.all.min.js"></script>
    <script type="text/javascript" src="/js/ext/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="/js/ext/jquery.cropbox.js"></script>
    <script type="text/javascript" src="/js/ext/facesjs/faces.js"></script>

    <!-- bighouse library -->
    <script type="text/javascript" src="/js/bighouse/bighouse.js"></script>

    <!-- 3rd-party CSS -->
    <link rel="stylesheet" href="/css/ext/jquery.cropbox.css"></link>

    <!-- bighouse CSS -->
    <link rel="stylesheet" href="/css/bighouse/bighouse.css"></link>
    <link rel="stylesheet" href="/css/bighouse/status.css"></link>

    <!-- tell mobile browser to stay out of our business -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  </head>
  <!-- inner view -->
  <%- body %>

</html>
