/* Desktop view */
@media (min-width:600px) and (max-height:600px) {
    .wikimess .navbar {
	min-height: 15vh;
    }
}

@media (min-width:600px) and (min-height:600px) {
    .wikimess .navbar {
	min-height: 90px;
    }
}

@media (min-width:600px) {
    .wikimess {
	display: flex;
	flex-direction: column;
	width: 600px;
	max-width: 600px
	height: 100%;
    }

    .wikimess .navbar {
	height: 15vh;
	max-height: 90px;
    }

    .wikimess .banner .meter,
    .wikimess .navbar .navicon {
	width: 15vh;
	height: 15vh;
	max-width: 90px;
	max-height: 90px;
    }

    .wikimess .menubar .list {
	flex-direction: column;
    }
    
    .wikimess .menubar a,
    .wikimess .backbar a {
	padding: 4px 8px 4px 8px;
    }

    /* Menu views */
    .wikimess .inputbar {
	width: 600px;
	display: flex;
	justify-content: center;
    }

    .wikimess .inputbar form {
	width: 360px;
    }

    .wikimess .titlebar {
	width: 600px;
	height: 6vh;
	text-align: center;
    }

    .wikimess .menucontainer {
	display: flex;
	flex-direction: column;
    }

    .wikimess .menubar {
	width: 600px;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .wikimess .menubar .listitem,
    .wikimess .menubar .card {
	font-size: 18px;
	margin: 4vh;
    }

    .wikimess .menubar .listitem.noborder {
	flex-direction: row;
    }
    
    .wikimess .menubar .rubric {
	width: 480px;
    }

    .wikimess .whobar .search .followsection {
	box-shadow: 6px 6px 6px 0px gray;
    }

    .wikimess .symbolsearch {
	box-shadow: 6px 6px 6px 0px gray;
    }

    .wikimess .grammarbar .rule .rhs {
	margin: 6px;
    }

    .wikimess .grammarbar .rule .lhs,
    .wikimess .grammarbar .rule .rulecontrols {
	margin: 6px;
    }

    .wikimess .sharepane,
    .wikimess .infopane {
	box-shadow: 6px 6px 6px 0px gray;
    }

    .wikimess .infopane .content {
	max-height: 20vh;
    }

    .wikimess .messageheader .label {
	width: 150px;
    }

    .wikimess .messageheader .input {
	max-height: 20vh;
    }

    .wikimess .messageheader .input .results {
	box-shadow: 6px 6px 6px 0px gray;
    }
}
