/* Colors, l33t theme */
.wikimess-page.l33t {
    background-color: black;
}

.wikimess.l33t .banner,
.wikimess.l33t {
    background-color: black;
    color: #0c0;
}

.wikimess.l33t textarea {
    background-color: black;
    color: #0f0;
}

.wikimess.l33t svg {
    fill: green;
}

.wikimess.l33t .whobar .search .query .button svg,
.wikimess.l33t .navbar svg.navicon {
    fill: darkgreen;
}

.wikimess.l33t .subnavbar,
.wikimess.l33t .navlabelspace,
.wikimess.l33t .navbar {
    background-color: black;
}

.wikimess.l33t .subnavbar .button .iconlabel,
.wikimess.l33t .navbar .navlabel {
    background-color: rgba(0,0,0,.5);
    color: green;
}

.wikimess.l33t .subnavbar,
.wikimess.l33t body {
    border-color: #333
}

.wikimess.l33t .sharepane {
    background-color: white;
}

.wikimess.l33t .messageborder {
    border-color: green;
}

.wikimess.l33t .grammarbar .rule {
    border-color: #002800;
    background-color: #001800;
}

.wikimess.l33t .symbolmenu,
.wikimess.l33t .grammarbar .rule .rulemenu {
    background-color: black;
    color: #0c0;
}

.wikimess.l33t .compose .suggestsectiontitle {
    color: #0b0;
    background-color: #003800;
}

.wikimess.l33t .compose .composesectiontitle {
    color: #0a0;
    background-color: #002800;
}

.wikimess.l33t .stack .helpcard,
.wikimess.l33t .stack .card {
    color: black;
}

.wikimess.l33t .compose .suggest {
    background-color: #004400;
}

.wikimess.l33t .suggest .lhslink,
.wikimess.l33t .compose .messagecompose,
.wikimess.l33t .grammarbar .rule .rhs .content {
    color: #0a0;
    background-color: #030;
}

.wikimess.l33t .grammarbar,
.wikimess.l33t .menubar {
    color: green;
}

.wikimess.l33t .menubar a,
.wikimess.l33t .menubar label {
    color: #888;
    border-color: #888;
}

.wikimess.l33t .detailbar .titlebar {
    color: #0c0;
}

.wikimess.l33t .inputbar {
    color: #aaa;
}

.wikimess.l33t .inputbar input[type=text],
.wikimess.l33t .inputbar input[type=password] {
    border-color: #444;
    background-color: #333;
    color: #0f0;
}

.wikimess.l33t .menubar li {
    color: green;
}

.wikimess.l33t .menubar .menubutton {
    color: green;
    background-color: #444;
}

.wikimess.l33t .mailboxname {
    border-top-style: solid;
    border-top-width: 1px;
}

.wikimess.l33t .mailbox .mailboxname,
.wikimess.l33t .mailbox .contents {
    border-color: #333;
}

.wikimess.l33t .mailboxname,
.wikimess.l33t .followsection .title,
.wikimess.l33t .grammartitle {
    color: limegreen
}

.wikimess.l33t .grammarbar .rule .lhs .buttons .name,
.wikimess.l33t .templates .template .title,
.wikimess.l33t .playerlink,
.wikimess.l33t .displayname,
.wikimess.l33t .lhslink,
.wikimess .menubar .themegroup label.l33t {
    color: #070;
}

.wikimess.l33t .grammarbar .rule .lhs .name {
    color: #2c2;
}

.wikimess.l33t .symbolmenu .option:nth-child(odd),
.wikimess.l33t .revisions .revision:nth-child(odd),
.wikimess.l33t .templates .template:nth-child(odd),
.wikimess.l33t .followsection .follow:nth-child(odd),
.wikimess.l33t .mailbox .contents .message:nth-child(odd) {
    background: #222;
}

.wikimess.l33t .messageheader .privrow .privtab {
    background-color: black;
    opacity: .4;
    color: green;
}

.wikimess.l33t .messageheader .privrow .privtab.active {
    background-color: rgba(0,0,0,0);
    opacity: 1;
    color: green;
}

.wikimess.l33t .messageheader .input .results {
    background-color: black;
}

.wikimess.l33t .search .query input {
    color: green;
}

.wikimess.l33t .menubar .listitem,
.wikimess.l33t .detailbar .titlebar,
.wikimess.l33t .compose .messageheader {
    background-color: #002200;
}

/* main page titlebar top border: this one just for l33t theme, not plain: */
.wikimess.l33t .detailbar .titlebar {
    border-top-style: solid;
}

.wikimess.l33t .configmenu .option.checked {
    background-color: darkgreen;
}
