/* Colors, cardroom theme */
.grambot.cardroom {
    background-color: black;
    color: white;
}

.grambot.cardroom .navbar {
    background-color: black;
}

.grambot.cardroom .gramlistbar {
    color: white;
    background-color: black;
}

.grambot.cardroom .gramlistbar .grammar,
.grambot.cardroom .grammarbar .rule,
.grambot.cardroom .detailbar .statusdiv {
    border-color: #ccc;
    background-color: #111;
}

.grambot.cardroom .grammarbar .rule .rhs {
    background-color: #444;
}

.grambot.cardroom .lhslink {
    color: lightblue;
}

.grambot.cardroom .gramlistbar .grammar .button,
.grambot.cardroom .gramlistbar .newgrammar .button {
    border-color: green;
    background-color: #333;
    color: green;
}

.grambot.cardroom .detailbar,
.grambot.cardroom .grammarbar,
.grambot.cardroom .backbar,
.grambot.cardroom .menubar {
    color: white;
}

.grambot.cardroom .statusbar a,
.grambot.cardroom .menubar a,
.grambot.cardroom .backbar a,
.grambot.cardroom .menubar label {
    color: #888;
    border-color: #888;
}

.grambot.cardroom .titlebar {
    color: white;
}

.grambot.cardroom .inputbar {
    color: #aaa;
}

.grambot.cardroom .inputbar input[type=text],
.grambot.cardroom .inputbar input[type=password] {
    border-color: #444;
    background-color: #333;
    color: white;
}

.grambot.cardroom .menubar li {
    color: white;
}

.grambot.cardroom .menubar .card {
    color: white;
    background-color: #444;
}

.grambot .menubar .themegroup label.cardroom {
    color: darkgreen;
}

.grambot.cardroom .detailbar .statusline {
    background: #111;
}
