/* Colors, plain theme */
.grambot.plain {
    background-color: #f8f8f8;
    color: black;
}

.grambot.plain .navbar {
    background-color: black;
}

.grambot.plain .grammarbar .rule {
    border-color: black;
    background-color: #f0f0f0;
}

.grambot.plain .grammarbar .rule .rhs {
    background-color: #ccc;
}

.grambot.plain .playerlink,
.grambot.plain .lhslink {
    color: blue;
}

.grambot.plain .grammarbar,
.grambot.plain .menubar {
    color: black;
}

.grambot.plain .menubar a,
.grambot.plain .menubar label {
    color: #888;
    border-color: #888;
}

.grambot.plain .titlebar {
    color: black;
}

.grambot.plain .inputbar {
    color: black;
}

.grambot.plain .inputbar input[type=text],
.grambot.plain .inputbar input[type=password] {
    border-color: #ccc;
    background-color: #ddd;
    color: black;
}

.grambot.plain .menubar li {
    color: black;
}

.grambot.plain .menubar .card {
    color: black;
    background-color: #ccc;
}

.grambot .menubar .themegroup label.plain {
    color: white;
}

.grambot.plain .templates .template:nth-child(odd),
.grambot.plain .followsection .follow:nth-child(odd),
.grambot.plain .mailbox .contents .message:nth-child(odd) {
    background: #eee;
}

.grambot.plain .lhslink.limitdepth {
    background-color: palevioletred;
}

.grambot.plain .lhslink.limitnodes {
    background-color: orange;
}

.grambot.plain .lhslink.limitsymbols {
    background-color: red;
}

.grambot.plain .lhslink.unexpanded {
    background-color: #90cc90;
}

.grambot.plain .lhslink.unexpanded.animating {
    background-color: #90ee90;
}

.grambot.plain .messageheader .input .results {
    background-color: white;
}
