/* Theme selection page */

.grambot .themegroup input:checked + label li {
    background-color: #444;
    opacity: 1;
}

.grambot .themegroup label {
    background: black;
}

.grambot .themegroup input:checked + label {
    background: #444;
}
