html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px/32px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    overflow: hidden;

    background-color: black;
    color: white;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

/* bighouse container */
.bighouse {
/*    background-color: gray; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Game view */
.bighouse .statusbar {
/*    background-color: red; */
    width: 100vw;
    height: 24vw;
}

.bighouse .statusbar .leftmood {
/*    background-color: pink; */
    height: 24vw;
    width: 24vw;
    position: absolute;
    left: 0vw;
    top: 0vw;
}

.bighouse .statusbar .leftstatus {
/*    background-color: brown; */
    width: 16vw;
    height: 8vw;
    position: absolute;
    left: 24vw;
    top: 16vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bighouse .statusbar .midstatus {
/*    background-color: crimson; */
    width: 50vw;
    height: 8vw;
    position: absolute;
    left: 25vw;
    top: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bighouse .statusbar .rightstatus {
/*    background-color: darkred; */
    width: 16vw;
    height: 8vw;
    position: absolute;
    left: 60vw;
    top: 16vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.bighouse .statusbar .quit {
/*    background-color: maroon; */
    width: 20vw;
    height: 8vw;
    position: absolute;
    left: 40vw;
    top: 0vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bighouse .statusbar .rightmood {
/*    background-color: purple; */
    height: 24vw;
    width: 24vw;
    position: absolute;
    left: 76vw;
    top: 0vw;
}

.bighouse .cardbar {
/*    background-color: green; */
    width: 100vw;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bighouse .cardbar .cardtable {
    background-color: darkgreen;
    width: 90vw;
    flex-grow: 1;
    margin: 5%;
    box-shadow: 2px 2px 1px 1px #003200;
    
    position: relative;
}

.bighouse .cardbar .cardtable ul {
    padding: 0;
}
    
.bighouse .cardbar .cardtable li {
/*    background-color: white; */
    width: 70%;
    height: 90%;
    margin: 5% 15% 5% 15%;
    
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    text-align: center;
    color: black;
    font-size: 24px;
    border: 10px solid rgba(1,1,1,.1);
    box-sizing: border-box;
    cursor: default;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bighouse .cardbar .cardtable li.in-deck:nth-child(4) {
    top: 2px; transform: translate(4px, 3px) rotate(-2deg);
}

.bighouse .cardbar .cardtable li.in-deck:nth-child(3) {
    top: 2px; transform: translate(2px, 2px) rotate(0.4deg);
}

.bighouse .cardbar .cardtable li.in-deck:nth-child(2) {
    top: 4px; transform: translate(-4px, -2px) rotate(-1deg);
}

.bighouse .cardbar .cardtable div, .bighouse .cardbar .cardtable span {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.bighouse .cardbar .cardtable img {
    width: 24vw;
}

.bighouse .choicebar {
/*    background-color: lightgreen; */
    width: 100vw;
    height: 10vw;
}

.bighouse .choicebar .choice1 {
/*    background-color: darkseagreen; */
    width: 50vw;
    height: 10vw;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bighouse .choicebar .choice2 {
/*    background-color: darkolivegreen; */
    width: 50vw;
    height: 10vw;
    float: right;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bighouse .moodbar {
/*    background-color: darkorange; */
    width: 100vw;
    height: 21vw;
}

.bighouse .moodbar .mood1 {
/*    background-color: yellow; */
    height: 21vw;
    width: 21vw;
    position: absolute;
    left: 2vw;
    bottom: 0vw;
}

.bighouse .moodbar .mood2 {
/*    background-color: orange; */
    width: 21vw;
    height: 21vw;
    position: absolute;
    left: 27vw;
    bottom: 0vw;
}

.bighouse .moodbar .mood3 {
/*    background-color: lemonchiffon; */
    height: 21vw;
    width: 21vw;
    position: absolute;
    left: 52vw;
    bottom: 0vw;
}

.bighouse .moodbar .mood4 {
/*    background-color: gold; */
    height: 21vw;
    width: 21vw;
    position: absolute;
    left: 77vw;
    bottom: 0vw;
}

.bighouse .cardbar .cardtable .waitcard {
    font-style: italic;
    background-color: antiquewhite;
}

.bighouse .cardbar .cardtable .outcome-default {
    font-style: italic;
    background-color: lightcyan;
}

.bighouse .cardbar .cardtable .gameover {
    font-style: italic;
    background-color: antiquewhite;
    color: brown;
}

/* Menu view */
.bighouse .inputbar {
    width: 100vw;
    height: 33vh;

    display: flex;
    justify-content: center;
}

.bighouse .inputbar form {
    width: 60vw;
}

.bighouse .inputbar input[type=text],
.bighouse .inputbar input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;

    margin: 0;
    height: 40px;
    line-height: 40px;
    font-size: 18px;

    border: 1px solid #444;

    background-color: #333;
    color: white;

    width: 100%;
}

.bighouse .menubar {
/*    background-color: moccasin; */
    width: 100vw;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bighouse .menubar li {
    list-style: none;

    background: white;
    color: black;
    
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    text-align: center;
    font-size: 24px;

    border-radius: 5px;
    border: 10px solid rgba(1,1,1,.1);
    box-sizing: border-box;

    cursor: default;

    width: 60vw;

    margin: 4vh;
    padding: 4vh;
}
