html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px/32px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    overflow: hidden;
}

/* Game view */
.gameview {
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.gameview .statusbar {
    background-color: red;
    width: 100vw;
    height: 24vw;
}

.gameview .statusbar .leftmood {
    background-color: pink;
    height: 24vw;
    width: 24vw;
    position: absolute;
    left: 0vw;
    top: 0vw;
}

.gameview .statusbar .leftstatus {
    background-color: brown;
    width: 16vw;
    height: 8vw;
    position: absolute;
    left: 24vw;
    top: 16vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.gameview .statusbar .midstatus {
    background-color: crimson;
    width: 50vw;
    height: 8vw;
    position: absolute;
    left: 25vw;
    top: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameview .statusbar .rightstatus {
    background-color: darkred;
    width: 16vw;
    height: 8vw;
    position: absolute;
    left: 60vw;
    top: 16vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.gameview .statusbar .quit {
    background-color: maroon;
    width: 20vw;
    height: 8vw;
    position: absolute;
    left: 40vw;
    top: 0vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.gameview .statusbar .rightmood {
    background-color: purple;
    height: 24vw;
    width: 24vw;
    position: absolute;
    left: 76vw;
    top: 0vw;
}

.gameview .cardbar {
    background-color: green;
    width: 100vw;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameview .cardbar .cardtable {
    background-color: darkgreen;
    width: 90vw;
    flex-grow: 1;
    margin: 5%;

    position: relative;
}

.gameview .cardbar .cardtable ul {
    padding: 0;
}
    
.gameview .cardbar .cardtable li {
    background-color: white;
    width: 80vw;
    height: 85%;
    margin: 5%;
    
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    text-align: center;
    font-size: 24px;
    border: 10px solid #ECECEC;
    box-sizing: border-box;
    cursor: default;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameview .cardbar .cardtable div, .gameview .cardbar .cardtable span {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.gameview .cardbar .cardtable img {
    width: 24vw;
}

.gameview .choicebar {
    background-color: lightgreen;
    width: 100vw;
    height: 10vw;
}

.gameview .choicebar .choice1 {
    background-color: darkseagreen;
    width: 50vw;
    height: 10vw;
    float: left;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.gameview .choicebar .choice2 {
    background-color: darkolivegreen;
    width: 50vw;
    height: 10vw;
    float: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.gameview .moodbar {
    background-color: darkorange;
    width: 100vw;
    height: 21vw;
}

.gameview .moodbar .mood1 {
    background-color: yellow;
    height: 21vw;
    width: 21vw;
    position: absolute;
    left: 2vw;
    bottom: 0vw;
}

.gameview .moodbar .mood2 {
    background-color: orange;
    width: 21vw;
    height: 21vw;
    position: absolute;
    left: 27vw;
    bottom: 0vw;
}

.gameview .moodbar .mood3 {
    background-color: lemonchiffon;
    height: 21vw;
    width: 21vw;
    position: absolute;
    left: 52vw;
    bottom: 0vw;
}

.gameview .moodbar .mood4 {
    background-color: gold;
    height: 21vw;
    width: 21vw;
    position: absolute;
    left: 77vw;
    bottom: 0vw;
}

.waitcard {
    font-style: italic;
}

