html, body {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    overflow: hidden;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

textarea,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.pushed {
    display: none  !important;
    height: 0  !important;
    width: 0  !important;
}

.grambot .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grambot .navbar .navtab {
    position: relative;
}

.grambot .navbar .navtab .messagecount {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: x-small;
    background: rgba(255,0,0,.5);
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    padding: 4px;

    color: white;
    border-color: black;
}

.grambot .navbar .navicon {
    opacity: .6;
    cursor: pointer;
}

.grambot .navbar .active .navicon {
    opacity: 1;
}

.grambot .suggest .button,
.grambot .newlhs .button,
.grambot .help .button,
.grambot .grammarbar .button {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.grambot .message .buttons .button,
.grambot .grammarbar .rhs .button {
    float: right;
}

.grambot .grammarbar .rulecontrols .button {
    float: left;
    padding-right: 4px;
}

.grambot .mailbox .mailboxname,
.grambot .searchtitle,
.grambot .whobar .followsection .title {
    font-weight: bold;
    font-size: large;
}

.grambot .whobar .search .followsection {
    border-bottom-style: solid;
    border-width: 1px;

    margin-left: 1px;
    box-shadow: 1vw 1vw 1vw 0px gray;
    border-left-style: solid;
    border-right-style: solid;
    padding: 2px;
}

.grambot .whobar .followsection {
    margin-bottom: 12px;
}

.grambot .search .query {
    display: flex;
    width: 100%;
    height: 32px;
    background: black;
    flex-direction: row;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #888;
}

.grambot .search .query .button {
    height: 32px;
    width: 32px;
}

.grambot .search .query input {
    background: black;
    flex-grow: 1;
    border-style: none;
    color: white;
}

.grambot .symbolsearch {
    min-height: 7em;
    max-height: 8em;
    overflow: hidden;
    border-bottom-style: solid;
    border-width: 1px;

    margin-left: 1px;
    box-shadow: 1vw 1vw 1vw 0px gray;
    border-left-style: solid;
    border-right-style: solid;
    padding: 2px;

    display: flex;
    flex-direction: column;
}

.grambot .symbolsearch .results {
    height: 100%;
    overflow-y: auto;
}

.grambot .endresults {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.grambot .endresults span {
    cursor: pointer;
    padding-bottom: 4px;
}

.grambot .more {
    text-decoration: underline;
}

.grambot .follow,
.grambot .grammarbar .rule {
    clear: both;
    float: left;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}

.grambot .follow {
    width: 100%;
    cursor: pointer;
}

.grambot .grammarbar .rule {
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    width: 98%;
}

.grambot .grammarbar .rule .rhs {
    min-height: 1em;
    display: flex;
    flex-direction: column;
    margin: 1vw;
    padding: 0.5vw;
    overflow-wrap: break-word;
}

.grambot .compose .messagecompose p {
    display: inline-block;
}

.grambot .grammarbar .rule .summary p,
.grambot .grammarbar .rule .rhs p {
    display: inline;
    margin: 0;
}

.grambot .grammarbar .rule.selected {
    -webkit-animation: 500ms linear 0s 1 normal pulse_rule;
    -moz-animation: 500ms linear 0s 1 normal pulse_rule;
    -o-animation: 500ms linear 0s 1 normal pulse_rule;
    animation: 500ms linear 0s 1 normal pulse_rule;
}

@-webkit-keyframes pulse_rule { from { background-color:gray; } }
   @-moz-keyframes pulse_rule { from { background-color:gray; } }
     @-o-keyframes pulse_rule { from { background-color:gray; } }
        @keyframes pulse_rule { from { background-color:gray; } }

.grambot .playerlink,
.grambot .lhslink {
    cursor: pointer;
}

.grambot .playerlink .name,
.grambot .lhslink .name {
    text-decoration: underline;
}

.grambot .grammarinfopane {
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    z-index: 1;
    margin-left: 1px;
    box-shadow: 1vw -1vw 1vw 0px gray;
    padding: 2px;
    overflow-wrap: break-word;
}

.grambot .grammarinfopane .title {
    font-weight: bold;
    font-size: large;
    font-style: italic;
}

.grambot .grammarinfopane .content {
    clear: both;
    max-height: 40vw;
    min-height: 40vw;
    overflow-y: auto;
    padding: 1px;
}

.grambot .grammarinfopane .controls {
    font-size: large;
    float: right;
}

.grambot .grammarinfopane .leftcontrols {
    font-size: large;
    float: left;
}

.grambot .leftcontrols .button,
.grambot .controls .button {
    float: right;
    width: 1em;
    height: 1em;
    padding: 1px;
    cursor: pointer;
}

.grambot .closebutton {
    float: right;
    font-size: small;
    width: 1em;
    height: 1em;
    padding: 1px;
    cursor: pointer;
}

.grambot .grammarbar .rule .lhs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.grambot .grammarbar .rule .lhs .name {
    max-width: 75%;  /* leave space for buttons */
}

.grambot .grammarbar .rule .lhs .buttons {
    float: right;
}

.grambot .grammarbar .rule .button {
    cursor: pointer;
}

.grambot .grammarbar .rule .summary {
    font-style: italic;
    padding-left: 4px;
    padding-right: 4px;
}

.grambot .grammarbar .rule .rulecontrols {
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grambot .grammarbar .rule .lhs .owner {
    font-size: small;
    font-style: italic;
    font-weight: normal;
    padding-right: 4px;
}

.grambot .follow .followcontrol,
.grambot .message .buttons .button {
    padding: 2px;
    cursor: pointer;
    width: 1em;
    height: 1em;
}

.grambot .other {
    display: flex;
}

.grambot .follow .followcontrol {
    float: right;
}

.grambot .follow .playerlink {
    padding: 4px;
    word-break: break-all;
}

.grambot .topbar {
    width: 100vw;
    min-height: 64px;
    display: flex;
    flex-direction: column;
}

.grambot .menubar a,
.grambot .menubar label {
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.grambot .inputbar {
    line-height: 32px;
}

.grambot .titlebar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grambot .inputbar input[type=text],
.grambot .inputbar input[type=password],
.grambot .inputbar textarea {
    display: block;

    margin: 0;
    font-size: 18px;

    border-width: 1px;
    border-style: solid;

    width: 100%;
}

.grambot .inputbar input[type=text],
.grambot .inputbar input[type=password] {
    height: 40px;
    line-height: 40px;
}

.grambot .inputbar textarea {
    resize: none;
    margin: 4px;
}

.grambot .menubar input {
    width: 100%;
}

.grambot .menubar li {
    list-style: none;
}

.grambot .menubar li,
.grambot .menubar label {
    padding: 8px;
}

.grambot .menubar .card {
    padding: 16px;
}

.grambot .menubar li,
.grambot .menubar .card {
    margin: 4vh;
    border: 1px solid #888;
    box-sizing: border-box;
    text-align: center;
}

.grambot .menubar li.noborder {
    border-style: none;
}

.grambot .menubar .card {
    cursor: default;
    width: 80vw;
}

.grambot .menubar li,
.grambot .menubar .card input {
    cursor: pointer;
}

.grambot .menubar .rubric {
    text-align: center;
}

.grambot .grammarbar,
.grambot .detailbar {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.grambot .detailbar {
    display: flex;
    flex-direction: column;
}

.grambot .detailbar .biofact {
    padding-top: 4px;
}

.grambot .detailbar .biofactlabel,
.grambot .detailbar .biotitle {
    font-weight: bold;
}

.grambot .detailbar .biofactvalue {
    font-style: italic;
}

.grambot .detailbar .bio {
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 2px;
    font-style: italic;
    overflow-wrap: break-word;
}

.grambot .detailbar .filler {
    flex-grow: 1;
}

.grambot .ratings {
    padding: 16px;
}
	
.grambot .ratinginfo .ratinginfolabel {
    float: left;
    width: 30vw;
    text-align: right;
    vertical-align: top;
    padding-right: 2px;
}

.grambot .ratinginfo .ratinginfocount {
    font-style: italic;
}

.grambot .ratinginfo .button svg {
    width: 1em;
    height: 1em;
}

.grambot .menubar label {
    display: block;
    margin: 8px;
    text-align: center;
}

.grambot .menubar input[type="radio"] {
    display: none;
}

.grambot .messageheader {
    border-top-style: solid;
    border-width: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.grambot .messageheader .row {
    width: 100%;
}

.grambot .messageheader .label {
    float: left;
    width: 25vw;
    text-align: right;
    vertical-align: top;
    padding-right: 2px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.grambot .mailbox,
.grambot .readmessage,
.grambot .compose {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.grambot .messageheader .input {
    display: block;
    overflow: hidden;
    max-height: 20vh;
}

.grambot .messageheader .input .results {
    margin-bottom: 4px;
    border-style: none solid solid solid;
    border-width: 1px;
    padding: 2px;
    box-shadow: 1vw 1vw 1vw 0px gray;
}

.grambot .messageheader .input .results .result {
    display: block;
}

.grambot .messageheader .field {
    display: table-cell;
    overflow-wrap: break-word;
}

.grambot .mailbox .contents,
.grambot .messageborder {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

.grambot .mailbox .contents,
.grambot .messageborder {
    border-top-style: solid;
    border-width: 1px;
    margin: 2px;
}

.grambot .compose .messagecompose {
    height: 20vh;
    min-height: 20vh;
    overflow-y: auto;
}

.grambot .compose .placeholder {
    font-style: italic;
}

.grambot .compose .suggest {
    height: 10vh;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;

    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

.grambot .compose .messagebody {
    flex-grow: 1;
    overflow-y: auto;
}

.grambot .compose .suggestlabel {
}

.grambot .compose .suggestions {
    overflow-wrap: break-word;
}

.grambot .mailbox .contents .message {
    cursor: pointer;
}

.grambot .mailbox .contents .message.read .title {
    font-size: medium;
}

.grambot .mailbox .contents .message.unread .title {
    font-weight: bold;
}

.grambot .mailbox .contents .message .player {
    font-size: small;
    font-style: italic;
}

.grambot .ratemessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.grambot .ratemessage span {
    padding: 4px;
}

.grambot .ratemessage svg {
    width: 1em;
    height: 1em;
}

.grambot .backbar,
.grambot .grammareditbuttons,
.grambot .messagecontrols {
    min-height: 2em;
    display: flex;
    justify-content: space-between;
    border-top-style: solid;
    border-width: 1px;
}

.grambot .backbar span,
.grambot .grammareditbuttons span,
.grambot .messagecontrols span {
    padding: 2vw;
}

.grambot .backbar svg,
.grambot .grammareditbuttons svg,
.grambot .messagecontrols svg {
    width: 1em;
    height: 1em;
}

.grambot .lhslink.limit,
.grambot .lhslink.unexpanded {
    opacity: .8;
}

.grambot .lhslink.animating {
    display: inline-block;
    transform-origin: center;
    -webkit-animation: 200ms linear 0s infinite alternate throb_rule;
    -moz-animation: 200ms linear 0s infinite alternate throb_rule;
    -o-animation: 200ms linear 0s infinite alternate throb_rule;
    animation: 200ms linear 0s infinite alternate throb_rule;
}

@-webkit-keyframes throb_rule { 0% { transform:scale(1) rotate(-1deg); } 50% { transform:scale(1.02) rotate(0deg); } 100% { transform:scale(1) rotate(1deg); } }
   @-moz-keyframes throb_rule { 0% { transform:scale(1) rotate(-1deg); } 50% { transform:scale(1.02) rotate(0deg); } 100% { transform:scale(1) rotate(1deg); } }
     @-o-keyframes throb_rule { 0% { transform:scale(1) rotate(-1deg); } 50% { transform:scale(1.02) rotate(0deg); } 100% { transform:scale(1) rotate(1deg); } }
        @keyframes throb_rule { 0% { transform:scale(1) rotate(-1deg); } 50% { transform:scale(1.02) rotate(0deg); } 100% { transform:scale(1) rotate(1deg); } }


.grambot .compose .messageheader textarea {
    width: 100%;
    height: 1em;
}

.grambot .compose .messageheader textarea.recipient {
    resize: none;
}

.grambot .compose .messageheader textarea.title {
    resize: vertical;
    max-height: 4em;
}

.grambot .messagecompose textarea,
.grambot .grammarbar textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.grambot .messagecompose textarea {
    flex-grow: 1;
    resize: none;
}

.grambot .grammarbar .lhs textarea {
    resize: vertical;
    max-height: 3em;
    flex-grow: 1;
}

.grambot .grammarbar .rhs textarea {
    resize: vertical;
    min-height: 10vh;
    max-height: 50vh;
    flex-grow: 1;
}

.grambot .popular {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-top: 4px;
    padding-bottom: 12px;
}

.grambot .templates .template .title {
    font-weight: bold;
}

.grambot .templates .template .by {
    font-style: italic;
}

.grambot .configmenu {
    margin: 16px;
    font-size: small;
}

.grambot .configmenu .option {
    text-align: center;
    padding: 4px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.grambot .configmenu .option:nth-child(1) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.grambot .configmenu .option:nth-last-child(1) {
    border-bottom-style: solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.grambot .configmenu .option.checked {
    background-color: #ccc;
}
