
/* Landscape view */
@media all and (orientation:landscape) {
    /* Game view */
    .grambot {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
    }

    .grambot .navbar {
	height: 15vh;
	min-height: 15vh;
    }

    .grambot .navbar .navicon {
	width: 15vh;
	height: 15vh;
    }

    .grambot .menubar a,
    .grambot .backbar a {
	padding: 4px 8px 4px 8px;
    }

    /* Menu views */
    .grambot .inputbar {
	width: 100vw;
	height: 33vh;

	display: flex;
	justify-content: center;
    }

    .grambot .inputbar form {
	width: 60vw;
    }

    .grambot .titlebar {
	width: 100vw;
	height: 12vh;
	text-align: center;
    }

    .grambot .menucontainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
    }

    .grambot .menubar {
	width: 100vw;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .grambot .menubar li,
    .grambot .menubar .card {
	font-size: 16px;
    }

    .grambot .menubar .rubric {
	width: 80vw;
    }

    .grambot .menubar ul.horizontal-list {
	list-style: none;
	margin: 4vh;
    }

    .grambot .menubar .horizontal-list li {
	display: inline;
    }
}
