.grambot.bigtable .statusbar,
.grambot.bigtable .moodbar {
    display: none;
}

.grambot.bigtable .cardbar .cardtable {
    width: 100vw;
    margin: 12px 0 0 0;
}

@media all and (orientation:portrait) {
    .grambot.bigtable .cardbar .cardtable li {
	width: 95%;
	height: 92%;
	margin: 2.5%;

    	font-size: 14px;
	line-height: 17px;
    }
}

@media all and (orientation:landscape) {
    .grambot.bigtable .cardbar .cardtable li {
	width: 95%;
	height: 90%;
	margin: 1% 2.5%;

    	font-size: 14px;
	line-height: 17px;
    }
}
