html, body {
    height: 100%;
}

html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    overflow: hidden;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.pushed {
    display: none  !important;
    height: 0  !important;
    width: 0  !important;
}

.bighouse .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bighouse .navbar .navtab {
    position: relative;
}

.bighouse .navbar .navtab .messagecount {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: x-small;
    background: rgba(255,0,0,.5);
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    padding: 4px;

    color: white;
    border-color: black;
}

.bighouse .navbar .navicon {
    opacity: .6;
    cursor: pointer;
}

.bighouse .navbar .active .navicon {
    opacity: 1;
}

.bighouse .gramlistbar,
.bighouse .locbar {
    flex-grow: 1;
    overflow-y: auto;
}

.bighouse .grammarbar .buttons {
    font-size: medium;
    float: right;
}

.bighouse .newlhs .button,
.bighouse .help .button,
.bighouse .grammartitle .button,
.bighouse .grammarbar .button {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.bighouse .grammartitle .button,
.bighouse .grammarbar .button {
    float: right;
}

.bighouse .grammartitle,
.bighouse .locbar .title {
    font-weight: bold;
    font-size: large;
}

.bighouse .whobar .followsection {
    margin-bottom: 12px;
}

.bighouse .whobar .search .query {
    display: flex;
    width: 100%;
    height: 32px;
    background: black;
    flex-direction: row;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #888;
}

.bighouse .whobar .search .query .button {
    height: 32px;
    width: 32px;
}

.bighouse .whobar .search .query input {
    background: black;
    flex-grow: 1;
    border-style: none;
    color: white;
}

.bighouse .whobar .search .endresults {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.bighouse .whobar .search .more {
    text-decoration: underline;
}

.bighouse .follow,
.bighouse .gramlistbar .grammar,
.bighouse .gramlistbar .newgrammar,
.bighouse .grammarbar .rule {
    clear: both;
    float: left;
    width: 95%;
    margin: 1vw;
}

.bighouse .gramlistbar .grammar,
.bighouse .gramlistbar .newgrammar,
.bighouse .grammarbar .rule,
.bighouse .follow {
    position: relative;
    padding: 1vw;
}

.bighouse .grammarbar .rule .rhs {
    clear: both;
    float: left;
    width: 90vw;
    margin: 1vw;
    padding: 0.5vw;
    overflow-wrap: break-word;
}

.bighouse .grammarbar .rule.selected {
    -webkit-animation: 500ms linear 0s 1 normal pulse_rule;
    -moz-animation: 500ms linear 0s 1 normal pulse_rule;
    -o-animation: 500ms linear 0s 1 normal pulse_rule;
    animation: 500ms linear 0s 1 normal pulse_rule;
}

@-webkit-keyframes pulse_rule { from { background-color:gray; } }
   @-moz-keyframes pulse_rule { from { background-color:gray; } }
     @-o-keyframes pulse_rule { from { background-color:gray; } }
        @keyframes pulse_rule { from { background-color:gray; } }

.bighouse .grammarbar .rule .lhslink .name {
    cursor: pointer;
}

.bighouse .grammarbar .rule .lhslink .name {
    text-decoration: underline;
}

.bighouse .grammarinfopane,
.bighouse .grammareditbuttons {
    border-top-style: solid;
    border-width: 1px;
}

.bighouse .grammareditbuttons .newlhs,
.bighouse .grammareditbuttons .help {
    padding: 2vw;
    width: 1em;
    height: 1em;
}

.bighouse .grammareditbuttons .newlhs {
    float: right;
}

.bighouse .grammareditbuttons .help {
    float: left;
}

.bighouse .grammarinfopane .title {
    font-weight: bold;
    font-size: large;
    font-style: italic;
}

.bighouse .grammarinfopane .content {
    clear: both;
    max-height: 40vw;
    min-height: 40vw;
    overflow-y: auto;
    padding: 1px;
    font-style: italic;
}

.bighouse .grammarinfopane .closebutton {
    float: right;
    font-size: small;
    width: 1em;
    height: 1em;
    padding: 1px;
    cursor: pointer;
}

.bighouse .grammartitle textarea,
.bighouse .grammarbar textarea {
    width: 99%;
    height: 100%;
}

.bighouse .gramlistbar .grammar,
.bighouse .grammarbar .rule,
.bighouse .follow {
    border-style: solid;
    border-width: 1px;
}

.bighouse .grammarbar .rule .lhs {
    width: 80%;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    clear: left;
    overflow-wrap: break-word;
}

.bighouse .gramlistbar .newgrammar .button {
    float: left;
    cursor: pointer;
}

.bighouse .gramlistbar .grammar .button,
.bighouse .grammarbar .rule .button {
    float: right;
    padding-left: 1vw;
    cursor: pointer;
}

.bighouse .follow .button {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.bighouse .follow .button,
.bighouse .gramlistbar .grammar .button,
.bighouse .gramlistbar .newgrammar .button {
    border-style: solid;
    border-width: 1px;
    padding: 1px 3px;
    cursor: pointer;
}


.bighouse .other,
.bighouse .follow {
    display: flex;
}

.bighouse .follow .name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4px;
    max-width: 50vw;
    word-break: break-all;
}

.bighouse .topbar {
    width: 100vw;
    min-height: 64px;
    display: flex;
    flex-direction: column;
}

.bighouse .backbar {
    min-height: 32px;
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bighouse .backbar span {
    flex-grow: 1;
    justify-content: center;
    display: flex;
}

.bighouse .backbar a,
.bighouse .menubar a,
.bighouse .menubar label {
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.bighouse .inputbar {
    line-height: 32px;
}

.bighouse .titlebar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bighouse .inputbar input[type=text],
.bighouse .inputbar input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;

    margin: 0;
    height: 40px;
    line-height: 40px;
    font-size: 18px;

    border-width: 1px;
    border-style: solid;

    width: 100%;
}

.bighouse .menubar input {
    width: 100%;
}

.bighouse .menubar li {
    list-style: none;
}

.bighouse .menubar li,
.bighouse .menubar label {
    padding: 8px;
}

.bighouse .menubar .card {
    padding: 16px;
}

.bighouse .menubar li,
.bighouse .menubar .card {
    margin: 4vh;
    border: 1px solid #888;
    box-sizing: border-box;
    text-align: center;
}

.bighouse .menubar li.noborder {
    border-style: none;
}

.bighouse .menubar .card {
    cursor: default;
    width: 80vw;
}

.bighouse .menubar li,
.bighouse .menubar .card input {
    cursor: pointer;
}

.bighouse .menubar .rubric {
    text-align: center;
}

.bighouse .grammarbar,
.bighouse .detailbar {
    flex-grow: 1;
    overflow-y: auto;
}

.bighouse .menubar label {
    display: block;
    margin: 8px;
    text-align: center;
}

.bighouse .menubar input[type="radio"] {
    display: none;
}
