
/* Portrait view */
@media all and (orientation:portrait) {
    /* Game view */
    .bighouse {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
    }

    .bighouse .navbar {
	height: 15vw;
	min-height: 15vw;
    }

    .bighouse .navbar .navicon {
	width: 15vw;
	height: 15vw;
    }

    .bighouse .menubar a,
    .bighouse .backbar a {
	padding: 4px 8px 4px 8px;
    }

    /* Menu views */
    .bighouse .inputbar {
	width: 100vw;
	height: 33vh;

	display: flex;
	justify-content: center;
    }

    .bighouse .inputbar form {
	width: 60vw;
    }

    .bighouse .titlebar {
	width: 100vw;
	height: 6vh;
	text-align: center;
    }

    .bighouse .menucontainer {
	display: flex;
	flex-direction: column;
    }

    .bighouse .menubar {
	width: 100vw;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .bighouse .menubar li,
    .bighouse .menubar .card {
	font-size: 18px;
    }

    .bighouse .menubar .rubric {
	width: 80vw;
    }

    .bighouse .menubar fieldset {
	margin: 4vh;
    }
}
