
/* Portrait view */
@media all and (orientation:portrait) {
    /* Game view */
    .bighouse {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
    }

    .bighouse .navbar {
	height: 18vw;
    }

    .bighouse .navbar .navicon {
	width: 18vw;
	height: 18vw;
    }

    .bighouse .statusbar {
	width: 100vw;
	height: 18vw;
    }

    .bighouse .statusbar .leftmood {
	height: 18vw;
	width: 18vw;
	position: absolute;
	left: 0vw;
	top: 0vw;
    }

    .bighouse .statusbar .rightstatus {
	width: 22vw;
	height: 18vw;
	position: absolute;
	right: 0vw;
	top: 0vw;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-right: 18vw;
	padding-right: 4px;
    }

    .bighouse .statusbar .statuslink {
	width: 100vw;
	height: 18vw;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    }

    .bighouse .statusbar .rightmood {
	height: 18vw;
	width: 18vw;
	position: absolute;
	right: 0vw;
	top: 0vw;
    }

    .bighouse .cardbar {
	width: 100vw;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .bighouse .cardbar .cardtable {
	width: 98vw;
	flex-grow: 1;
	margin-top: 2vw;
	margin-bottom: 2vw;
	
	position: relative;
    }

    .bighouse .cardtable .slidebar {
	top: -2vw;
    }

    .bighouse .cardtable .slidebar .slidetab {
	width: 20vw;
	border-width: 0 2vw 2vw 2vw;
    }

    .bighouse .cardbar .cardtable ul {
	padding: 0;
    }
    
    .bighouse .cardbar .cardtable li {
	width: 80%;
	height: 85%;
	margin: 6% 10% 6% 10%;
	padding: 8px;
	
	font-size: 12px;
	line-height: 16px;
	
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
    }

    .bighouse .cardbar .cardtable li div,
    .bighouse .cardbar .cardtable li span {
	flex-grow: 1;
	display: flex;
	align-items: center;
    }

    .bighouse .cardbar .cardtable img,
    .bighouse .cardbar .cardtable .avatar {
	width: 16vw;
	height: 16vw;
    }

    .bighouse .choicebar {
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
    }

    .bighouse .choicebar .choice1 {
	width: 50%;
	float: left;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 4px;
    }

    .bighouse .choicebar .choice2 {
	width: 50%;
	float: right;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 4px;
    }

    .bighouse .statusbar a,
    .bighouse .menubar a,
    .bighouse .avatar-exit a,
    .bighouse .upload-exit a {
	padding: 4px 8px 4px 8px;
    }

    .bighouse .avatar-exit a {
	float: left;
	margin: 4px 8px 4px 8px;
	width: 20vw;
	text-align: center;
    }

    .bighouse .menubar .avatar-grid-row {
	clear: left;
	float: left;
    }

    .bighouse .menubar .avatar {
	width: 22vw;
	height: 22vw;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
    }

    .bighouse .moodbar {
	width: 22vw;
	height: 18vw;
	position: absolute;
	left: 18vw;
	top: 0vw;
    }
    
    .bighouse .moodbar .mood1 {
	height: 8vw;
	width: 8vw;
	position: absolute;
	left: 2vw;
	top: 0vw;
    }

    .bighouse .moodbar .mood2 {
	width: 8vw;
	height: 8vw;
	position: absolute;
	left: 12vw;
	top: 0vw;
    }

    .bighouse .moodbar .mood3 {
	height: 8vw;
	width: 8vw;
	position: absolute;
	left: 2vw;
	top: 10vw;
    }

    .bighouse .moodbar .mood4 {
	height: 8vw;
	width: 8vw;
	position: absolute;
	left: 12vw;
	top: 10vw;
    }

    .bighouse .mooduploadbar {
	width: 100vw;
	height: 21vw;
    }

    .bighouse .mooduploadbar .mood1 {
	height: 21vw;
	width: 21vw;
	position: absolute;
	left: 2vw;
	bottom: 0vw;
    }

    .bighouse .mooduploadbar .mood2 {
	width: 21vw;
	height: 21vw;
	position: absolute;
	left: 27vw;
	bottom: 0vw;
    }

    .bighouse .mooduploadbar .mood3 {
	height: 21vw;
	width: 21vw;
	position: absolute;
	left: 52vw;
	bottom: 0vw;
    }

    .bighouse .mooduploadbar .mood4 {
	height: 21vw;
	width: 21vw;
	position: absolute;
	left: 77vw;
	bottom: 0vw;
    }

    /* Menu views */
    .bighouse .inputbar {
	width: 100vw;
	height: 33vh;

	display: flex;
	justify-content: center;
    }

    .bighouse .inputbar form {
	width: 60vw;
    }

    .bighouse .titlebar {
	width: 100vw;
	height: 6vh;
	text-align: center;
    }

    .bighouse .menucontainer {
	display: flex;
	flex-direction: column;
    }

    .bighouse .menubar {
	width: 100vw;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }

    .bighouse .menubar li,
    .bighouse .menubar .card {
	font-size: 18px;
    }

    .bighouse .menubar .rubric {
	width: 80vw;
    }

    .bighouse .moodslugbar {
	width: 100vw;
	height: 6vh;
	position: relative;
    }

    .bighouse .moodslugbar .moodslug1 {
	width: 21vw;
	position: absolute;
	left: 2vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug2 {
	width: 21vw;
	position: absolute;
	left: 27vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug3 {
	width: 21vw;
	position: absolute;
	left: 52vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .moodslugbar .moodslug4 {
	width: 21vw;
	position: absolute;
	left: 77vw;
	bottom: 0;
	text-align: center;
    }

    .bighouse .upload-exit {
	width: 100vw;
	height: 20vw;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
    }

    .bighouse .upload-exit span {
	padding-left: 5vw;
	padding-right: 5vw;
    }

    .bighouse .menubar fieldset {
	margin: 4vh;
    }
}
