.bighouse .detailbar .iconblock,
.bighouse .detailbar .meterblock {
    clear: both;
    width: 100%;
}

.bighouse .detailbar .statusline {
    margin-top: 10px;
    float: left;
    width: 31%;
    margin-right: 1%;
    overflow: auto;
    border-style: dotted;
    border-width: 1px;
    border-radius: 4px;
}

.bighouse .detailbar .icon img {
    width: 10vw;
    height: 10vw;
    border-radius: 4px;
    float: right;
    background-color: black;
}

.bighouse .detailbar .text {
    padding-left: 4px;
    display: inline-block;
    font-size: small;
}

/* Portrait view */
@media all and (orientation:portrait) {
    
}

/* Landscape view */
@media all and (orientation:landscape) {
    
}
