.bighouse .detailbar .statusline {
    margin-top: 10px;
    float: left;
    clear: both;
}

.bighouse .detailbar .icon img {
    width: 10vw;
    height: 10vw;
    border-radius: 4px;
    margin-right: 10px;
    float: left;
}

.bighouse .detailbar .text {
    padding-left: 4px;
}

/* Portrait view */
@media all and (orientation:portrait) {
    
}

/* Landscape view */
@media all and (orientation:landscape) {
    
}
